body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

.header_title {
    text-align: center;
    color: azure;
    background-color: green;
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-color: darkgreen;
    padding: 6px;
    text-size-adjust: 10px;
}

.navigation a {
    text-decoration: none;
    color: azure;
}

.header_title {
    display: flex;
    justify-content: center;
}

.details {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
}

.details label {
    font-weight: bold;
    margin-bottom: 5px;
}

.sign_up {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
}

.sign_up_box form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    justify-items: baseline;
    background-color: rgb(227, 227, 227);
    border-radius: 8px;
}

.sign_up_box label {
    font-weight: bold;
    margin-bottom: 5px;
}

.sign_up_box input {
    margin-bottom: 10px;
    padding: 5px;
}
.sign_up_box input[type="radio"] {
    margin-bottom: 10px;
    padding: 5px;
    align-self: flex-start;
}

.sign_up_box select {
    margin-bottom: 10px;
    padding: 5px;
}

.sign_up_box #submit {
    background-color: green;
    color: azure;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: darkgreen;
    padding: 6px;
    text-size-adjust: 10px;
    color: azure;
    bottom: 0;
    width: 100%;
}